#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

VERSION=406.0.0
ARCH=$(shell dpkg-architecture -qDEB_TARGET_ARCH)

%:
	dh $@

override_dh_strip_nondeterminism:
	# Skip this

override_dh_dwz:
	# Skip this

override_dh_auto_build:
	# Nothing to do here
	#
override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/tmp/opt/gcloud
	tar xvf $(CURDIR)/google-cloud-cli-$(VERSION)-linux-$(ARCH).tar.xz -C $(CURDIR)/debian/tmp/opt/gcloud --strip-components=1
	# Clean out the garbage
	rm -fr $(CURDIR)/debian/tmp/opt/gcloud/platform
